.section {
  width: 100vw;
  min-height: 100vh;
}

.flexContainer {
  display: flex;
}

.flexItemsAboutSection {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technoContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 10px;
  gap: 5px;
}

@media (max-width: 1000px) {
  .flexContainer {
    flex-direction: column;
  }

  .technoContainer {
    gap: 20px;
  }
}
